@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
@import url('https://fonts.googleapis.com/css?family=Big+Shoulders+Text&display=swap');
@import url('https://fonts.googleapis.com/css?family=Heebo:300&display=swap');

/* General Styles */
* {
    box-sizing: border-box;
}

body {
    font-family: 'Heebo', sans-serif;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    transition: background-color 0.5s ease-in, color 0.5s ease-in;
}

/* Light/Dark Mode */
:root {
    --primary-color: #3498db;
    --secondary-color: #ecf0f1;
    --primary-color-dark: #2c3e50;
    --secondary-color-dark: #bdc3c7;
}

html.dark {
    --primary-color: var(--primary-color-dark);
    --secondary-color: var(--secondary-color-dark);
}

html.dark body {
    background: linear-gradient(to right, #0f1f2f, #1f3555);
    color: var(--primary-color);
}

/* Toggle Button */
.toggle {
    background-color: var(--primary-color);
    border: 0;
    border-radius: 4px;
    color: var(--secondary-color);
    font-size: 20px;
    padding: 8px 12px;
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
}

.toggle:focus {
    outline: 0;
}

/* Clock Styles */
.clock-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.clock {
    position: relative;
    width: 200px;
    height: 200px;
    background: radial-gradient(circle, #2c3e50 60%, #1f2c38 80%);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    border-radius: 50%;
}

.needle {
    transition: transform 0.5s ease-in;
    position: absolute;
    left: 50%;
    top: 50%;
    transform-origin: bottom center;
    width: 3px;
}

.needle.hour {
    height: 50px;
    background-color:  rgb(195, 210, 223);
}

.needle.minute {
    height: 80px;
    background-color: rgb(9, 101, 177);
}

.needle.second {
    background-color: #e74c3c;
    height: 80px;
}

.center-point {
    background-color: #e74c3c;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.center-point::after {
    background-color: var(--primary-color);
    transition: transform 0.5s ease-in;
    border-radius: 50%;
    content: '';
    width: 5px;
    height: 5px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.time {
    font-size: 60px;
    font-weight: bold;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8);
}

.date {
    color: #aaa;
    font-size: 14px;
    letter-spacing: 0.3px;
    text-transform: uppercase;
}

.date .circle {
    background-color: var(--primary-color);
    border-radius: 50%;
    color: var(--secondary-color);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    line-height: 18px;
    transition: background-color 0.5s ease-in, color 0.5s ease-in;
    width: 18px;
    height: 18px;
}

/* Social Panel Styles */
.social-panel-container {
    position: fixed;
    right: 0;
    bottom: 80px;
    transform: translateX(100%);
    transition: transform 0.4s ease-in-out;
}

.social-panel-container.visible {
    transform: translateX(-10px);
}

.social-panel {
    background-color: #fff;
    border-radius: 16px;
    box-shadow: 0 16px 31px -17px rgba(0, 31, 97, 0.6);
    border: 5px solid #001F61;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Muli';
    position: relative;
    height: 169px;
    width: 370px;
    max-width: calc(100% - 10px);
}

.social-panel button.close-btn {
    border: 0;
    color: #97A5CE;
    cursor: pointer;
    font-size: 20px;
    position: absolute;
    top: 5px;
    right: 5px;
}

.social-panel button.close-btn:focus {
    outline: none;
}

.social-panel p {
    background-color: #001F61;
    border-radius: 0 0 10px 10px;
    color: #fff;
    font-size: 14px;
    line-height: 18px;
    padding: 2px 17px 6px;
    position: absolute;
    top: 0;
    left: 50%;
    margin: 0;
    transform: translateX(-50%);
    text-align: center;
    width: 235px;
}

.social-panel p i {
    margin: 0 5px;
}

.social-panel p a {
    color: #FF7500;
    text-decoration: none;
}

.social-panel h4 {
    margin: 20px 0;
    color: #97A5CE;
    font-family: 'Muli';
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
}

.social-panel ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.social-panel ul li {
    margin: 0 10px;
}

.social-panel ul li a {
    border: 1px solid #DCE1F2;
    border-radius: 50%;
    color: #001F61;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;
    text-decoration: none;
}

.social-panel ul li a:hover {
    border-color: #FF6A00;
    box-shadow: 0 9px 12px -9px #FF6A00;
}

/* Floating Button */
.floating-btn {
    border-radius: 26.5px;
    background-color: #001F61;
    border: 1px solid #001F61;
    box-shadow: 0 16px 22px -17px #03153B;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    line-height: 20px;
    padding: 12px 20px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 999;
}

.floating-btn:hover {
    background-color: #ffffff;
    color: #001F61;
}

.floating-btn:focus {
    outline: none;
}

/* Floating Text */
.floating-text {
    background-color: #001F61;
    border-radius: 10px 10px 0 0;
    color: #fff;
    font-family: 'Muli';
    padding: 7px 15px;
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    z-index: 998;
}

.floating-text a {
    color: #FF7500;
    text-decoration: none;
}

/* Responsive Styles */
@media screen and (max-width: 480px) {
    .social-panel-container.visible {
        transform: translateX(0px);
    }

    .floating-btn {
        right: 10px;
    }
}
